

form{
    display: inline;
}
div{
    text-align: center;   

}
.button {
    background-color:#38ACEC; /*#87ceeb;*/
    color: Black;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-right:0%; 
    margin-left:0%;
    margin-top:10px;
    margin-bottom:0px;
    cursor: pointer;
    font-family: Helvetica ;
    border: 2px solid Black;
    transition-duration: .5s;
    width: 250px;

}
.textbox{

    margin-right:5px; 
    margin-left:5px;
    margin-top:10px;
    margin-bottom:0px;
    background-color: white;
    font-size: 15px;
    padding: 10px 10px;
    font-family: Helvetica;

}
.button1{
    background-color: #306EFF; /*What Scott had before: #e23bf6;*/
    font-size: 24px;
    padding: 10px 20px;
    width: 200;

}
.button:hover {
    background-color: White; 
    color: Black;
    border: Blue;
    border: 2px solid Blue;

}
.button1Disabled{
    transition-duration: 100000s;
    background-color: grey;
}

.bottom{
    text-align: right;
    margin-right: 10%; 
    margin-left: 0px;
    margin-top: 25%;
    

}
a{
    background-color: Red;
    padding-bottom: 10px;
    padding-right:10px; 
    padding-left:10px;
    padding-top:10px;
}
h1{
    text-align: center;
    font-family: Helvetica;
    font-size: 40px;
    font-weight: bold; 
    color: Black;
    background-color: #d0ccff;
    margin-top: 10px;
    margin-left: 10%;
    margin-right:10%;
    margin-bottom: 10px;
    padding-top:10px ;
    padding-left:10px;
    padding-right:10px;     
    padding-bottom:10px;
}
body {
    background-color: #dcfeff; /*What Scott had before: #9dffcb;*/
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p{
    text-align: center;
    padding-top: 10px;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 10px;
    margin-right: 10%;
    margin-left: 10%;
    background-color: White;
    border: 2px solid Black;
}
p1{
    padding-top: 10px;
    padding-left: 10px;
    padding-right:10px;
    padding-bottom: 10px;
    background-color: blue;
}
