{% load static %}

<html>
<style>
div{
	text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
</style>
<head>
	<link rel="stylesheet" href="{% static 'ClubConnexions/amaStyleSheet.css' %}">
	<title>Add Officer</title>
</head>
<body>
</body>
</html>

<img src="https://i.imgur.com/oIz18pg.png" width="100" height="100" class="center"> 

<h1 style="text-align: center;">Add Officer</h1>
<div>

{% if user.is_authenticated %}
	<form action="{% url 'ama:home' %}">
		<input type ="submit" class="button button1" value="Home"/>
	</form>
	<form action="{% url 'ama:calendar' %}">
		<input type="submit" class="button button1" value="Calendar">
	</form>
	<form action="{% url 'ama:documents' %}">
		<input type="submit" class="button button1" value="Documents">
	</form>
	<form action="{% url 'ama:officers' %}">
		<input type="submit" class="button button1" value="Club Officers">
	</form>
	<form action="{% url 'ama:members' %}">
		<input type="submit" class="button button1" value="Club Members">
	</form>
	<form action="{% url 'ama:login' %}">
		<input type="submit" class="button button1" value="Admin Login">
	</form>
	{% else %}
	<form action="{% url 'ama:home' %}">
		<input type ="submit" class="button button1" value="Home"/>
	</form>
	<form action="{% url 'ama:calendar' %}">
		<input type="submit" class="button button1" value="Calendar">
	</form>
	<form action="{% url 'ama:documents' %}">
		<input type="submit" class="button button1" value="Documents">
	</form>
	<form action="{% url 'ama:officers' %}">
		<input type="submit" class="button button1" value="Club Officers">
	</form>
	<!--<form action="{% url 'ama:members' %}">
		<input type="submit" class="button button1" value="Club Members" disabled>
	</form>-->
	<form action="{% url 'ama:login' %}">
		<input type="submit" class="button button1" value="Admin Login">
	</form>
	{% endif %}
</div>
<br>
<div>
	<form action="/ama/officers/" method="POST">
		{% csrf_token %}
	  	First Name <input type="text" name="officerFirstName" required><br><br>
	  	Last Name <input type="text" name="officerLastName" required><br><br>
	  	Position <input type="text" name="officerPosition" required><br><br>
	  	<input type="submit" class="button" name="addOfficer" value="Create and add Officer">
	</form> 
</div>
</body>
</html>