<html>
<style>
form{
	display: inline;
}
div{
	text-align: center;
}
</style>
<head>
	<title>Club Officers Page</title>
</head>
<body>
</body>
</html>

<h1 style="text-align: center;">Club Officers</h1>
<div>
	<form action="{% url 'ama:home' %}">
		<input type ="submit" value="Home"/>
	</form>
	<form action="{% url 'ama:calendar' %}">
		<input type="submit" value="Calendar">
	</form>
	<form action="{% url 'ama:documents' %}">
		<input type="submit" value="Documents">
	</form>
	<form action="{% url 'ama:officers' %}">
		<input type="submit" value="Club Officers">
	</form>
	<form action="{% url 'ama:members' %}">
		<input type="submit" value="Club Members">
	</form>
	<form action="{% url 'ama:login' %}">
		<input type="submit" value="Admin Login">
	</form>
</div>
<br>
<div>
	<form action="{% url 'ama:add-officer' %}">
		{% if enable %}
		<input type="submit" value="Add Officer">
		{% else %}
		<input type="submit" value="Add Officer" disabled>
		{% endif %}
	</form>
	<form action="/ama/officers/" method="POST">
		{% csrf_token %}
		{% if enable %}
		<input type="submit" value="Delete Officer:" name="deleteOfficer">
		<input type="text" name="officerName" placeholder="Type in name of officer">
		{% else %}
		<input type="submit" value="Delete Officer" disabled>
		{% endif %}
	</form>
	<form action="/ama/officers/" method="GET">
		{% if enable %}
		<input type="submit" value="Delete All Officers" name="deleteAllOfficers">
		{% else %}
		<input type="submit" value="Delete All Officers" disabled>
		{% endif %}
	</form>
</div>
<p style="text-align: center;">
	{% for o in allOfficers %}
		{{o.officerFirstName}}
		{{o.officerLastName}}<br>
		{{o.officerPosition}}<br><br>
	{% endfor %}
</p>
</body>
</html>