{% load static %}
<html>

<head>
	<link rel="stylesheet" href="{% static 'ClubConnexions/amaStyleSheet.css' %}">
	<title>Club Officers Page</title>
</head>
<body>
</body>
</html>

<img src="https://i.imgur.com/oIz18pg.png" width="100" height="100" class="center"> 
<h1 style="text-align: center;">Club Officers</h1>
<div style="text-align: center;">
	<!-- {% if user.is_authenticated %}
	<a href="http://localhost:8000/ama/home/" class="button button1"  >Home</a>
	<a href="http://localhost:8000/ama/calendar/" class="button button1"  >Calendar</a>
	<a href="http://localhost:8000/ama/documents/" class="button button1"  >Documents</a>
	<a href="http://localhost:8000/ama/officers/" class="button button1"  >Club Officers</a>
	<a href="http://localhost:8000/ama/members/" class="button button1"  >Club Members</a>
	<a href="http://localhost:8000/ama/login/" class="button button1"  >Login</a>
	{% else %}
	<a href="http://localhost:8000/ama/home/" class="button button1"  >Home</a>
	<a href="http://localhost:8000/ama/calendar/" class="button button1"  >Calendar</a>
	<a href="http://localhost:8000/ama/documents/" class="button button1"  >Documents</a>
	<a href="http://localhost:8000/ama/officers/" class="button button1"  >Club Officers</a>
	<a href="http://localhost:8000/ama/login/" class="button button1"  >Login</a>

	{% endif %} -->
{% if user.is_authenticated %}
	<form action="{% url 'ama:home' %}">
		<input type ="submit" class="button button1" value="Home"/>
	</form>
	<form action="{% url 'ama:calendar' %}">
		<input type="submit" class="button button1" value="Calendar">
	</form>
	<form action="{% url 'ama:documents' %}">
		<input type="submit" class="button button1" value="Documents">
	</form>
	<form action="{% url 'ama:officers' %}">
		<input type="submit" class="button button1" value="Club Officers">
	</form>
	<form action="{% url 'ama:members' %}">
		<input type="submit" class="button button1" value="Club Members">
	</form>
	<form action="{% url 'ama:login' %}">
		<input type="submit" class="button button1" value="Admin Login">
	</form>
	{% else %}
	<form action="{% url 'ama:home' %}">
		<input type ="submit" class="button button1" value="Home"/>
	</form>
	<form action="{% url 'ama:calendar' %}">
		<input type="submit" class="button button1" value="Calendar">
	</form>
	<form action="{% url 'ama:documents' %}">
		<input type="submit" class="button button1" value="Documents">
	</form>
	<form action="{% url 'ama:officers' %}">
		<input type="submit" class="button button1" value="Club Officers">
	</form>
	<!-- form action="{% url 'ama:members' %}">
		<input type="submit" class="button button1Disabled"  value="Club Members" disabled>
	</form>-->
	<form action="{% url 'ama:login' %}">
		<input type="submit" class="button button1" value="Admin Login">
	</form> 
	{% endif %}
</div>
<br>
<div>
	<form action="{% url 'ama:add-officer' %}">
		{% if user.is_authenticated %}
		<input type="submit" class="button" value="Add Officer">
		{% else %}
		<!--<input type="submit" value="Add Officer" disabled>-->
		{% endif %}
	</form>
	<form action="/ama/officers/" method="POST">
		{% csrf_token %}
		{% if user.is_authenticated %}
		<input type="submit"  class="button" value="Delete Officer:" name="deleteOfficer">
		<input type="text" class="textbox"  name="officerName" placeholder="Type in name of officer">
		{% else %}
		<!--<input type="submit" value="Delete Officer" disabled>-->
		{% endif %}
	</form>
	<!-- <form action="/ama/officers/" method="GET">
		{% if user.is_authenticated %}
		<input type="submit" class="button" value="Delete All Officers" name="deleteAllOfficers">
		{% else %}
		<!--<input type="submit" value="Delete All Officers" disabled>-->
		{% endif %}
	</form> -->
</div>
<p style="text-align: center;">
	{% for o in allOfficers %}
		<b>Name:</b> {{o.officerFirstName}}
		{{o.officerLastName}}<br>
		<b>Position:</b> {{o.officerPosition}}<br><br>
	{% endfor %}
</p>
</body>
</html>