{% if desc %}
    <p>
    	This is the home page! This text is coming through html!!!!<br/>
    	Instructions:<br/>
    	To get to Home, go to http://localhost:8000/home/<br/>
		To get to Calendar, go to http://localhost:8000/calendar/<br/>
		To get to Documents, go to http://localhost:8000/documents/<br/>
		To get to Officer Info, go to http://localhost:8000/officers/<br/>
		To get to Club Members, go to http://localhost:8000/members/<br/>
		To get to Admin Login, go to http://localhost:8000/login/<br/>

    </p>
{% endif %}