<html>
<head>
<title>Calendar Page</title>
</head>
<body>

<h1>Calendar</h1>
<p>
    <a href="{% url 'ama:home' %}">Home</a><br/>
	<a href="{% url 'ama:calendar' %}">Calendar</a><br/>
	<a href="{% url 'ama:documents'%}">Documents</a><br/>
	<a href="{% url 'ama:officers' %}">Club Officers</a><br/>
	<a href="{% url 'ama:members'%}">Club Members</a><br/>
	<a href="{% url 'ama:login' %}">Admin Login</a><br/>
	<a href="{% url 'ama:index' %}">This goes back to the original landing page</a>
</p>

</body>
</html>
