<html>
<style>
form{
	display: inline;
}
div{
	text-align: center;
}
</style>
<head>
	<title>Calendar Page</title>
</head>
<body>
</body>
</html>

<h1 style="text-align: center;">Calendar</h1>
<div>
	<form action="{% url 'ama:home' %}">
		<input type ="submit" value="Home"/>
	</form>
	<form action="{% url 'ama:calendar' %}">
		<input type="submit" value="Calendar">
	</form>
	<form action="{% url 'ama:documents' %}">
		<input type="submit" value="Documents">
	</form>
	<form action="{% url 'ama:officers' %}">
		<input type="submit" value="Club Officers">
	</form>
	<form action="{% url 'ama:members' %}">
		<input type="submit" value="Club Members">
	</form>
	<form action="{% url 'ama:login' %}">
		<input type="submit" value="Admin Login">
	</form>
</div>
<br>
<div>
	<form action="{% url 'ama:add-event' %}">
		{% if enable %}
		<input type="submit" value="Add Event">
		{% else %}
		<input type="submit" value="Add Event" disabled>
		{% endif %}
	</form>
</div>
<p style="text-align: center;">
	{% for e in allEvents %}
		{{e.eventName}}<br>
		{{e.eventDate}}<br>
		{{e.eventTime}}<br>
		{{e.eventLocation}}<br>
		{{e.eventDescription}}<br><br>
	{% endfor %}
</p>
<!-- put the list of events here -->
</body>
</html>