<html>
<style>
div{
	text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
</style>
<head>
	<title>Add Event</title>
</head>
<body>
</body>
</html>

<img src="https://i.imgur.com/oIz18pg.png" width="100" height="100" class="center"> 

<h1 style="text-align: center;">Add Event</h1>
<div>
	<form style="display: inline;" action="{% url 'ama:home' %}">
		<input type ="submit" value="Home"/>
	</form>
	<form style="display: inline;" action="{% url 'ama:calendar' %}">
		<input type="submit" value="Calendar">
	</form>
	<form style="display: inline;" action="{% url 'ama:documents' %}">
		<input type="submit" value="Documents">
	</form>
	<form style="display: inline;" action="{% url 'ama:officers' %}">
		<input type="submit" value="Club Officers">
	</form>
	<form style="display: inline;" action="{% url 'ama:members' %}">
		<input type="submit" value="Club Members">
	</form>
	<form style="display: inline;" action="{% url 'ama:login' %}">
		<input type="submit" value="Admin Login">
	</form>
</div>
<br>
<div>
	<form action="/ama/calendar/" method="POST">
		{% csrf_token %}
	  	Name <input type="text" name="eventName" required><br><br>
	  	Date <input type="date" name="eventDate" required><br><br>
	  	Time <input type="time" name="eventTime" required><br><br>
	  	Location <input type="text" name="eventLocation" required><br><br>
	  	Description <br>
	  	<textarea name="eventDescription" cols="80" rows="15"></textarea><br><br>
	  	<input type="submit" name="addEvent" value="Create and add Event">
	</form> 
</div>
</body>
</html>