<p>
    This is the main landing page! This text is coming through html!!!!<br/>
    Instructions:<br/>
    To get to Home, go to <a href="{% url 'ama:home' %}">http://localhost:8000/ama/home/</a><br/> 
	To get to Calendar, <a href="{% url 'ama:calendar' %}"> http://localhost:8000/ama/calendar</a><br/>
	To get to Documents, go to <a href="{% url 'ama:documents'%}"> http://localhost:8000/ama/documents/</a><br/>
	To get to Officer Info, go to <a href="{% url 'ama:officers' %}"> http://localhost:8000/ama/officers/</a><br/>
	To get to Club Members, go to <a href="{% url 'ama:members'%}"> http://localhost:8000/ama/members/</a><br/>
	To get to Admin Login, go to <a href="{% url 'ama:login' %}"> http://localhost:8000/ama/login/</a><br/>
	To get to Scott, go to <a href="{% url 'ama:scott'%}"> http://localhost:8000/ama/scott/</a><br/>
</p>