{% load static %}
<html>

<head>
	<link rel="stylesheet" href="{% static 'ClubConnexions/amaStyleSheet.css' %}">
	<title>Home Page</title>
</head>
<body>
</body>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<img src="https://i.imgur.com/oIz18pg.png" width="100" height="100" class="center"> 
<h1 style="text-align: center;">Home</h1> 

<div style="text-align: center;">
	<!-- {% if user.is_authenticated %}
	<a href="http://localhost:8000/ama/home/" class="button button1"  >Home</a>
	<a href="http://localhost:8000/ama/calendar/" class="button button1"  >Calendar</a>
	<a href="http://localhost:8000/ama/documents/" class="button button1"  >Documents</a>
	<a href="http://localhost:8000/ama/officers/" class="button button1"  >Club Officers</a>
	<a href="http://localhost:8000/ama/members/" class="button button1"  >Club Members</a>
	<a href="http://localhost:8000/ama/login/" class="button button1"  >Login</a>
	{% else %}
	<a href="http://localhost:8000/ama/home/" class="button button1"  >Home</a>
	<a href="http://localhost:8000/ama/calendar/" class="button button1"  >Calendar</a>
	<a href="http://localhost:8000/ama/documents/" class="button button1"  >Documents</a>
	<a href="http://localhost:8000/ama/officers/" class="button button1"  >Club Officers</a>
	<a href="#" class="button button1 button2"  >Club Members</a>
	<a href="http://localhost:8000/ama/login/" class="button button1"  >Login</a>

	{% endif %} -->
{% if user.is_authenticated %}
	<form action="{% url 'ama:home' %}">
		<input type ="submit" class="button button1" value="Home"/>
	</form>
	<form action="{% url 'ama:calendar' %}">
		<input type="submit" class="button button1" value="Calendar">
	</form>
	<form action="{% url 'ama:documents' %}">
		<input type="submit" class="button button1" value="Documents">
	</form>
	<form action="{% url 'ama:officers' %}">
		<input type="submit" class="button button1" value="Club Officers">
	</form>
	<form action="{% url 'ama:members' %}">
		<input type="submit" class="button button1" value="Club Members">
	</form>
	<form action="{% url 'ama:login' %}">
		<input type="submit" class="button button1" value="Admin Login">
	</form>
	{% else %}
	<form action="{% url 'ama:home' %}">
		<input type ="submit" class="button button1" value="Home"/>
	</form>
	<form action="{% url 'ama:calendar' %}">
		<input type="submit" class="button button1" value="Calendar">
	</form>
	<form action="{% url 'ama:documents' %}">
		<input type="submit" class="button button1" value="Documents">
	</form>
	<form action="{% url 'ama:officers' %}">
		<input type="submit" class="button button1" value="Club Officers">
	</form>
	<!--<form action="{% url 'ama:members' %}">
		<input type="submit" class="button button1" value="Club Members" disabled>
	</form>-->
	<form action="{% url 'ama:login' %}">
		<input type="submit" class="button button1" value="Admin Login">
	</form>
	{% endif %}
</div>
<br>
<div>
	<form action="{% url 'ama:edit-home' %}">
		{% if user.is_authenticated %}
		<input type="submit" class="button" value="Edit Home">
		{% else %}
		<!--<input type="submit" value="Edit Home" disabled>-->
		{% endif %}
	</form>
</div>
<div>
	<p>
		All students in the school of business, specifically marketing majors, are encouraged to join the American Marketing Association (AMA) chapter at Xavier. AMA seeks to offer marketing majors and other students the opportunity to gain a broader, realistic, and more practically oriented exposure to marketing activities. These experiences enhance and augment the material being presented in the classroom. AMA strives to improve each member's marketability in today's highly competitive job market. Through company visits, marketing challenges, and Q&A sessions with leading industry professionals, AMA aims to equip students with proper tools for the job market and assist students in tailoring their career paths to fit their interests and desires. 
	</p>
</div>

<div>
<!--<a class="twitter-timeline" data-lang="en" data-width="500" data-height="500" href="https://twitter.com/TwitterDev/timelines/539487832448843776?ref_src=twsrc%5Etfw">National Park Tweets - Curated tweets by TwitterDev</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->

<a class="twitter-timeline" data-width="400" data-height="600" href="https://twitter.com/XUMarketing">Tweets by AMA XU</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>




<align="middle" class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-width="500" data-height="600" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div>
</div>

</body>
</html>