{% load static %}
<html>

<head>
	<link rel="stylesheet" href="{% static 'ClubConnexions/amaStyleSheet.css' %}">
	<title>Club Members Page</title>
</head>
<body>
	
</body>
</html>

<img src="https://i.imgur.com/oIz18pg.png" width="100" height="100" class="center"> 
<h1 style="text-align: center;">Club Members</h1>
<div style="text-align: center;">
	<!-- {% if user.is_authenticated %}
	<a href="http://localhost:8000/ama/home/" class="button button1"  >Home</a>
	<a href="http://localhost:8000/ama/calendar/" class="button button1"  >Calendar</a>
	<a href="http://localhost:8000/ama/documents/" class="button button1"  >Documents</a>
	<a href="http://localhost:8000/ama/officers/" class="button button1"  >Club Officers</a>
	<a href="http://localhost:8000/ama/members/" class="button button1"  >Club Members</a>
	<a href="http://localhost:8000/ama/login/" class="button button1"  >Login</a>
	{% else %}
	<a href="http://localhost:8000/ama/home/" class="button button1"  >Home</a>
	<a href="http://localhost:8000/ama/calendar/" class="button button1"  >Calendar</a>
	<a href="http://localhost:8000/ama/documents/" class="button button1"  >Documents</a>
	<a href="http://localhost:8000/ama/officers/" class="button button1"  >Club Officers</a>
	<a href="http://localhost:8000/ama/login/" class="button button1"  >Login</a>

	{% endif %} -->
{% if user.is_authenticated %}
	<form action="{% url 'ama:home' %}">
		<input type ="submit" class="button button1" value="Home"/>
	</form>
	<form action="{% url 'ama:calendar' %}">
		<input type="submit" class="button button1" value="Calendar">
	</form>
	<form action="{% url 'ama:documents' %}">
		<input type="submit" class="button button1" value="Documents">
	</form>
	<form action="{% url 'ama:officers' %}">
		<input type="submit" class="button button1" value="Club Officers">
	</form>
	<form action="{% url 'ama:members' %}">
		<input type="submit" class="button button1" value="Club Members">
	</form>
	<form action="{% url 'ama:login' %}">
		<input type="submit" class="button button1" value="Admin Login">
	</form>
	{% else %}
	<form action="{% url 'ama:home' %}">
		<input type ="submit" class="button button1" value="Home"/>
	</form>
	<form action="{% url 'ama:calendar' %}">
		<input type="submit" class="button button1" value="Calendar">
	</form>
	<form action="{% url 'ama:documents' %}">
		<input type="submit" class="button button1" value="Documents">
	</form>
	<form action="{% url 'ama:officers' %}">
		<input type="submit" class="button button1" value="Club Officers">
	</form>
	<!-- form action="{% url 'ama:members' %}">
		<input type="submit" class="button button1Disabled"  value="Club Members" disabled>
	</form>-->
	<form action="{% url 'ama:login' %}">
		<input type="submit" class="button button1" value="Admin Login">
	</form> 
	{% endif %}
</div>
<br>
<div>
<form action="{% url 'ama:add-member' %}">
		{% if user.is_authenticated %}
		<input type="submit" class="button" value="Add Member">
		{% else %}
		<input type="submit" class="button button1Disabled" value="Add Member" disabled>
		{% endif %}
	</form>
	<form action="/ama/members/" method="POST">
		{% csrf_token %}
		{% if user.is_authenticated %}
		<input type="submit" class="button" value="Delete Member:" name="deleteMember">
		<input type="text" name="memberName" placeholder="Type in name of member">
		{% else %}
		<input type="submit" class="button button1Disabled" value="Delete Member" disabled>
		{% endif %}
	</form>
	<!-- <form action="/ama/members/" method="GET">
		{% if enable %}
		<input type="submit" value="Delete All Members" name="deleteAllMembers">
		{% else %}
		<input type="submit" value="Delete All Members" disabled>
		{% endif %}
	</form> -->
</div>
<p style="text-align: center;">
	{% for m in allMembers %}
		<b>Name:</b> {{m.memberFirstName}}
		{{m.memberLastName}}<br>
		<b>Email:</b> {{m.memberEmail}}<br>
		<b>ID Number:</b> {{m.memberID}}<br><br>
	{% endfor %}
</p>
</body>
</html>
