<html>
<style>
form{
	display: inline;
}
div{
	text-align: center;
}
</style>
<head>
	<title>Club Members Page</title>
</head>
<body>
</body>
</html>

<h1 style="text-align: center;">Club Members</h1>
<div style="text-align: center;">
	<form style="display: inline;" action="{% url 'ama:home' %}">
		<input type ="submit" value="Home"/>
	</form>
	<form style="display: inline;" action="{% url 'ama:calendar' %}">
		<input type="submit" value="Calendar">
	</form>
	<form style="display: inline;" action="{% url 'ama:documents' %}">
		<input type="submit" value="Documents">
	</form>
	<form style="display: inline;" action="{% url 'ama:officers' %}">
		<input type="submit" value="Club Officers">
	</form>
	<form style="display: inline;" action="{% url 'ama:members' %}">
		<input type="submit" value="Club Members">
	</form>
	<form style="display: inline;" action="{% url 'ama:login' %}">
		<input type="submit" value="Admin Login">
	</form>
</div>
<br>
<div>
<form action="{% url 'ama:add-member' %}">
		{% if enable %}
		<input type="submit" value="Add Member">
		{% else %}
		<input type="submit" value="Add Member" disabled>
		{% endif %}
	</form>
	<form action="/ama/members/" method="POST">
		{% csrf_token %}
		{% if enable %}
		<input type="submit" value="Delete Member:" name="deleteMember">
		<input type="text" name="memberName" placeholder="Type in first name of member">
		<input type="text" name="memberName2" placeholder="Type in last name of Member">
		{% else %}
		<input type="submit" value="Delete Member" disabled>
		{% endif %}
	</form>
	<form action="/ama/members/" method="GET">
		{% if enable %}
		<input type="submit" value="Delete All Members" name="deleteAllMembers">
		{% else %}
		<input type="submit" value="Delete All Members" disabled>
		{% endif %}
	</form>
</div>
<p style="text-align: center;">
	{% for m in allMembers %}
		{{m.memberFirstName}}
		{{m.memberLastName}}<br>
		{{m.memberEmail}}<br>
		{{m.memberID}}<br><br>
	{% endfor %}
</p>
</body>
</html>
