<html>
<style>
form{
	display: inline;
}
div{
	text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
</style>
<head>
	<title>Club Members Page</title>
</head>
<body>
</body>
</html>

<img src="https://i.imgur.com/oIz18pg.png" width="100" height="100" class="center"> 
<h1 style="text-align: center;">Club Members</h1>
<div style="text-align: center;">
	{% if user.is_authenticated %}
	<form action="{% url 'ama:home' %}">
		<input type ="submit" value="Home"/>
	</form>
	<form action="{% url 'ama:calendar' %}">
		<input type="submit" value="Calendar">
	</form>
	<form action="{% url 'ama:documents' %}">
		<input type="submit" value="Documents">
	</form>
	<form action="{% url 'ama:officers' %}">
		<input type="submit" value="Club Officers">
	</form>
	<form action="{% url 'ama:members' %}">
		<input type="submit" value="Club Members">
	</form>
	<form action="{% url 'ama:login' %}">
		<input type="submit" value="Admin Login">
	</form>
	{% else %}
	<form action="{% url 'ama:home' %}">
		<input type ="submit" value="Home"/>
	</form>
	<form action="{% url 'ama:calendar' %}">
		<input type="submit" value="Calendar">
	</form>
	<form action="{% url 'ama:documents' %}">
		<input type="submit" value="Documents">
	</form>
	<form action="{% url 'ama:officers' %}">
		<input type="submit" value="Club Officers">
	</form>
	<form action="{% url 'ama:members' %}">
		<input type="submit" value="Club Members" disabled>
	</form>
	<form action="{% url 'ama:login' %}">
		<input type="submit" value="Admin Login">
	</form>
	{% endif %}
</div>
<br>
<div>
<form action="{% url 'ama:add-member' %}">
		{% if user.is_authenticated %}
		<input type="submit" value="Add Member">
		{% else %}
		<input type="submit" value="Add Member" disabled>
		{% endif %}
	</form>
	<form action="/ama/members/" method="POST">
		{% csrf_token %}
		{% if user.is_authenticated %}
		<input type="submit" value="Delete Member:" name="deleteMember">
		<input type="text" name="memberName" placeholder="Type in name of member">
		{% else %}
		<input type="submit" value="Delete Member" disabled>
		{% endif %}
	</form>
	<!-- <form action="/ama/members/" method="GET">
		{% if enable %}
		<input type="submit" value="Delete All Members" name="deleteAllMembers">
		{% else %}
		<input type="submit" value="Delete All Members" disabled>
		{% endif %}
	</form> -->
</div>
<p style="text-align: center;">
	{% for m in allMembers %}
		<b>Name:</b> {{m.memberFirstName}}
		{{m.memberLastName}}<br>
		<b>Email:</b> {{m.memberEmail}}<br>
		<b>ID Number:</b> {{m.memberID}}<br><br>
	{% endfor %}
</p>
</body>
</html>
