<html>
<style>
form{
	display: inline;
}
</style>
<head>
	<title>Admin Login Page</title>
</head>
<body>
</body>
</html>

<h1>Admin Login</h1>
<div style="text-align: center;">
	<form action="{% url 'ama:home' %}">
		<input type ="submit" value="Home"/>
	</form>
	<form action="{% url 'ama:calendar' %}">
		<input type="submit" value="Calendar">
	</form>
	<form action="{% url 'ama:documents' %}">
		<input type="submit" value="Documents">
	</form>
	<form action="{% url 'ama:officers' %}">
		<input type="submit" value="Club Officers">
	</form>
	<form action="{% url 'ama:members' %}">
		<input type="submit" value="Club Members">
	</form>
	<form action="{% url 'ama:login' %}">
		<input type="submit" value="Admin Login">
	</form>
</div>
</body>
</html>