{% load static %}
<html>

<head>

<link rel="stylesheet" href="{% static 'ClubConnexions/amaStyleSheet.css' %}">
	<title>Admin Login Page</title>


</head>
<body>



<img src="https://i.imgur.com/oIz18pg.png" width="200" height="200" class="center"> 
</body>

<h1>Admin Login
<div style="text-align: center;">
	<!-- {% if user.is_authenticated %}
	<a href="http://localhost:8000/ama/home/" class="button button1"  >Home</a>
	<a href="http://localhost:8000/ama/calendar/" class="button button1"  >Calendar</a>
	<a href="http://localhost:8000/ama/documents/" class="button button1"  >Documents</a>
	<a href="http://localhost:8000/ama/officers/" class="button button1"  >Club Officers</a>
	<a href="http://localhost:8000/ama/members/" class="button button1"  >Club Members</a>
	<a href="http://localhost:8000/ama/login/" class="button button1"  >Login</a>
	{% else %}
	<a href="http://localhost:8000/ama/home/" class="button button1"  >Home</a>
	<a href="http://localhost:8000/ama/calendar/" class="button button1"  >Calendar</a>
	<a href="http://localhost:8000/ama/documents/" class="button button1"  >Documents</a>
	<a href="http://localhost:8000/ama/officers/" class="button button1"  >Club Officers</a>
	<a href="#" class="button button1 button2"  >Club Members</a>
	<a href="http://localhost:8000/ama/login/" class="button button1"  >Login</a>

	{% endif %} -->
{% if user.is_authenticated %}
	<form action="{% url 'ama:home' %}">
		<input type ="submit" class="button button1" value="Home"/>
	</form>
	<form action="{% url 'ama:calendar' %}">
		<input type="submit" class="button button1" value="Calendar">
	</form>
	<form action="{% url 'ama:documents' %}">
		<input type="submit" class="button button1" value="Documents">
	</form>
	<form action="{% url 'ama:officers' %}">
		<input type="submit" class="button button1" value="Club Officers">
	</form>
	<form action="{% url 'ama:members' %}">
		<input type="submit" class="button button1" value="Club Members">
	</form>
	<form action="{% url 'ama:login' %}">
		<input type="submit" class="button button1" value="Admin Login">
	</form>
	{% else %}
	<form action="{% url 'ama:home' %}">
		<input type ="submit" class="button button1" value="Home"/>
	</form>
	<form action="{% url 'ama:calendar' %}">
		<input type="submit" class="button button1" value="Calendar">
	</form>
	<form action="{% url 'ama:documents' %}">
		<input type="submit" class="button button1" value="Documents">
	</form>
	<form action="{% url 'ama:officers' %}">
		<input type="submit" class="button button1" value="Club Officers">
	</form>
	<!--<form action="{% url 'ama:members' %}">
		<input type="submit" class="button button1Disabled"  value="Club Members" disabled>
	</form>-->
	<form action="{% url 'ama:login' %}">
		<input type="submit" class="button button1" value="Admin Login">
	</form> 
	{% endif %}
</div>
</h1>
<div class="center">
<form action="{% url 'ama:password' %}">

	<input type="submit" class="button" value="Login (Admin Only)"> 
	<!-- <a href="password" class="button" >Login (Admin Only)</a> -->
</form>
<form action="/ama/login/" method="POST">
	{% csrf_token %}
	
	<input type="submit" class="button" value="Logout" name="logout">
	<!-- <a href="" class="button" >Logout</a> -->
</form>

{% if user.is_authenticated %}
<form action="{% url 'ama:changePassword' %}">


<input type="submit" class="button" value="Change Admin Password">
<!-- <a href="changePassword" >change password</a> -->
{% else %}
<form action="{% url 'ama:changePassword' %}">

<!-- <a href="changePassword" class="button" >Change Password</a>	 -->
<input type="submit" class="button" value="Change Admin Password" disabled> 
{% endif %}
</form>
</div>
<div class="bottom">
<form action="/ama/login/" method="POST">
	{% csrf_token %}
	
	<input type="submit" class="button" value="Logout" name="logout">
	<!-- <a href="" class="button" >Logout</a> -->
</form>
</div>



</html>