<html>
<style>

</style>
<head>
	<title>Admin Login Page</title>
</head>
<body>
</body>
</html>

<h1 style="text-align: center;">Admin Login</h1>
<div style="text-align: center;">
	<form style="display: inline;" action="{% url 'ama:home' %}">
		<input type ="submit" value="Home"/>
	</form>
	<form style="display: inline;" action="{% url 'ama:calendar' %}">
		<input type="submit" value="Calendar">
	</form>
	<form style="display: inline;" action="{% url 'ama:documents' %}">
		<input type="submit" value="Documents">
	</form>
	<form style="display: inline;" action="{% url 'ama:officers' %}">
		<input type="submit" value="Club Officers">
	</form>
	<form style="display: inline;" action="{% url 'ama:members' %}">
		<input type="submit" value="Club Members">
	</form>
	<form style="display: inline;" action="{% url 'ama:login' %}">
		<input type="submit" value="Admin Login">
	</form>
</div>
<form action="{% url 'ama:password' %}">
<p style="text-align: center;">
<input type="submit" value="Login ( Admin Only)">
</form>
<form action="{% url 'ama:changePassword' %}">
<p style="text-align: center;">
<input type="submit" value="Change Admin Password">
</form>



</body>
</html>