<html>
<style>

</style>
<head>
	<title>Admin Password</title>
</head>
<body>
</body>
</html>

<h1 style="text-align: center;">Admin Password</h1>
<div style="text-align: center;">
	<form style="display: inline;" action="{% url 'ama:home' %}">
		<input type ="submit" value="Home"/>
	</form>
	<form style="display: inline;" action="{% url 'ama:calendar' %}">
		<input type="submit" value="Calendar">
	</form>
	<form style="display: inline;" action="{% url 'ama:documents' %}">
		<input type="submit" value="Documents">
	</form>
	<form style="display: inline;" action="{% url 'ama:officers' %}">
		<input type="submit" value="Club Officers">
	</form>
	<form style="display: inline;" action="{% url 'ama:members' %}">
		<input type="submit" value="Club Members">
	</form>
	<form style="display: inline;" action="{% url 'ama:login' %}">
		<input type="submit" value="Admin Login">
	</form>
</div>	 
<div style="text-align: center;">
<br><br>  
 <form action="/ama/login/" method="POST">
		{% csrf_token %} 	
	  	Login <input type="password" name="password" placeholder="Type in password"><br><br>
	  	<input type="submit" name="login" value="Login as Admin"> 
</form> 
</body>
</html>